@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 300; /* Light = 300 */
  font-display: swap; /* sorgt dafür, dass Text sofort sichtbar ist */
  src: url('./Outfit/static/Outfit-Light.woff') format('woff');
}
html, body {
  overflow: auto;
  min-height: 100%;
}
body {
font-family: "Montserrat",Sans-serif;
  font-weight: 300; /* Light */
  background-color: #E6F0FF;
  color: #333;
  min-height: 100vh;
}

 /* INTRO */

    #intro{
      position:fixed;
      inset:0;
      background:white;
      display:flex;
      align-items:center;
      justify-content:center;
      z-index:9999;
    }

    .intro-wrap{
      display:flex;
      align-items:center;
      gap:28px;
      position:relative;
    }
.svgLogoIntro
    {
     position: relative;  
  width:300px;
  height:auto;
  display:block;
  overflow:visible; 
  opacity: 0;
}
.webit{
    position: absolute;
    left: 60px;
    top: 95px;
    width:300px;
    z-index: 5;
}

.svgWeb{
    width: 100%;
    display:block;
}

.it{
    position:absolute;
    left: 170px;
    top: 8px;
    font-size: 60px;
}
.with{
  opacity: 0;
   position: absolute;
    left: 100px;   /* horizontal verschieben */
    top: -50px;     /* vertikal verschieben */

    font-size: 38px;
    font-weight: 500;
    color: #141414;

    z-index: 10;

}

    .brace{
      font-size:130px;
      font-weight:300;
      color:#5c84d6;
      line-height:1;
      opacity:0;
      filter:blur(10px);
    }

    .logo_intro{
      display: flex;
      position:relative;
      text-align:center;
      transform:translateY(20px);
      
    }

    .logo-top{
      font-size:42px;
      font-weight:300;
      color:#5c84d6;
      letter-spacing:1px;
    }

    .logo-bottom{
      font-size:42px;
      font-weight:300;
      color:#555;
      letter-spacing:1px;
    }

    /* glow */

    .glow{
      position:absolute;
      width:220px;
      height:220px;
      border-radius:50%;
      background:rgba(92,132,214,0.18);
      filter:blur(50px);
      z-index:-1;
      left:50%;
      top:50%;
      transform:translate(-50%,-50%) scale(0.5);
      opacity:0;
    }

    /* Content */

 #content{
  opacity:0;
  transform:translateY(30px);
}

    .hero{
      text-align:center;
      grid-row: 2;
    }

    .hero h1{
      font-size:64px;
      font-weight:300;
      margin-bottom:20px;
    }

    .hero p{
      font-size:20px;
      color:#666;
    }


/* Container */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

/* Header */
.header {
 display: flex;
 flex-direction: row;
  padding: 0.5em 0;
  align-items: center;
  background-color: #F5F5F5;
  border-bottom: 1px solid #E2E2E2;
 
}


.main {
  background-color: #F5F5F5;
  border-bottom: 1px solid #E2E2E2;
  display: grid;
  grid-template-columns: 1fr;   /* nur EINE Spalte auf Mobil */
  grid-template-rows: auto auto auto auto auto; 
  gap: 5rem;
  /*min-height: auto;*/
  min-height: 100dvh;
  align-content:start;
padding: 0;
  color: #141414;
  gap: 5rem;
  justify-items: center; /* horizontal zentrieren */
 
}



*{margin: 0;
  padding:0;
  box-sizing: border-box;
 /* font-family: 'Poppins', 'san-serifs'*/}


 h2{
   /*color:  #cbcaca;*/
    color: #2A2A2A;
   font-size: 30px;
   font-weight: 400;
   text-transform: uppercase;
   letter-spacing: 9.4px;
}

.menuContainer{
    display: flex;
    flex-direction: row;
    margin-inline: unset;
}
 .side-menu {
 display: block;
 opacity: 0;
 } 
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  background: #F5F5F5;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 4;

}
    .nav li a{
      text-decoration:none;
      color: #4A6FA5;
      
    }
    .nav.de li a{ 
    color: #0000008f;
    }
  
     .menu {
           
            display: grid;
            gap: 3rem; /* Use rem for better scalability */
            text-align: center;
             padding: 0;
            margin: 0;
            list-style: none;
          
          }

    
    
  /* Menu Icon */
      .hamb{ 
        position: relative;
        justify-self: start;
        cursor: default;
        padding: 40px 20px; 
        z-index: 5; /* Set z-index to keep the icon at the top position */  
        margin-left: auto;
        order:2;
        
      }
      /* Style label tag */

      .hamb-line {
     
        background: #4A6FA5;
        display: block;
        height: 2px;
        position: relative;
        width: 24px; 
      

      }
      /* Style span tag */

      .hamb-line::before,
      .hamb-line::after{
          background: #4A6FA5;
          content: '';
          display: block;
          height: 100%;
          position: absolute;
          /*transition: all .2s ease-out;*/
          width: 100%;
      }
      .hamb-line::before{
          top: 5px;
      }
      .hamb-line::after{
          top: -5px;
      }

      /* Toggle menu icon */
      .side-menu:checked ~ .menuContainer .nav {
     transform: translateX(0);
      }

      .side-menu:checked ~ .hamb .hamb-line {
        background: transparent;
      }
      .side-menu:checked ~ .hamb .hamb-line::before {
        transform: rotate(-45deg);
        top:0;
      }
      .side-menu:checked ~ .hamb .hamb-line::after {
        transform: rotate(45deg);
        top:0;
      }

      body:has(.side-menu:checked) {
      overflow: hidden;
      }
      /* Hide logoMobil when side-menu is checked */
        .side-menu:checked ~ .logoDiv {
          display: none;
        }


.lang-picker {
  position:relative;
  display: flex;
  align-items: center;
  gap: 0.4em;
  font-size: 12px;
  padding-right: 1em;
  order:3;
  z-index: 4;
}

.lang {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s ease;
}

.lang:hover {
  opacity: 1;
}

.lang.active {
  opacity: 1;
  font-weight: bold;
}

.divider {
  opacity: 0.4;
}

.svgLogo{
    position: relative;
    width: 50px;
    transform: translateY(2px);
   /* order:1;*/
    z-index: 4;

}

.mockups{
  display: flex;
  flex-direction: column;
  gap: 1em;
   align-items: center;
}
.mockups img{
width: 300px;
align-items: center;
}
.mockups .subline{
  text-transform: uppercase;
  letter-spacing: 9.4px;
  text-align: center;
}
.mockups .industry{
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 9.4px;
   text-align: center;
}
.mockups .description{
   font-size: 12px;  
    text-align: center;
}
.angelLogo{
  background-color: #f5f5f5;
}
.angel{
  width: 100px;
}

.footer{
   background-color: #F5F5F5;
}



@media (min-width: 1024px) {
  .container {
   
    margin: 0 auto;
  }

  .header {
  display: grid;
  text-align: left;
  padding: 15px 25px 15px 25px;

  }

   .hamb, .side-menu {
 display: none;
 } 
   .svgLogoIntro{  
    width: 500px}
    
.webit{
position: absolute;
    left: 99px;
    top: 157px;
    width:500px;

}

.it{
    position:absolute;
    left: 280px;
    top: 50px;
    font-size: 60px;
}
.with{
 
    left: 200px;   /* horizontal verschieben */
    top: -50px;     /* vertikal verschieben */

}
 .nav {
    display: flex;
    position: static;
    height: auto;
    background: transparent;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    transform: none;
   
    }

.menu{
      display: flex;
  flex-direction: row;
}
  .main {
  background-color: #F5F5F5;
  display: grid;
  padding-top: 3rem;  
  gap: 5rem !important;
}
.menuContainer{
    gap: 0.5em;
    margin-inline: auto;
}

 .logo,
  .hamb,
  .lang-picker {
    order: 0; 
    margin-left: 0;
  }

    .mobile-only {
    display: none;
  }
}